.add-button {
    background-color: var(--primary);
    width: 20px;
    height: 20px;
    padding: 0.6rem;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}