.bloc-filters {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
    /* position: relative; */
}

.button-filters {
    display: flex;
    flex-direction: row;
    background-color: var(--white-bloc);
    align-items: center;
    border-radius: 12px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
    align-self: flex-end;
    width: fit-content;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    /* position: absolute;
    top: -30px; */

}

.button-filters h4 {
    font-size: 1.1rem;
}

.button-filters button {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.button-filters button:hover {
    color: var(--primary-darker);
}

.all-filters {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    min-width: 100px;
    background-color: var(--white-bloc);
    border-radius: 12px;
    height: 143px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
    padding-inline: 3rem;
}

.select-box-diet, .select-box-type {
    width: 250px;
    min-width: none;
}