.header-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline: 2rem;
    padding-block: 0.8rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.header-nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-inline: 2rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.header-profile {
    padding-inline: 3rem;
}

.a-secondary:hover, .a-secondary:active {
    color: var(--secondary);
}