
.hero {
  display: flex;
  align-items: end;
  margin-bottom: 2rem;
  width: 100%;
}

.hero-img {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.hero-img img {
  width: 100dvw;
}

.hero-filter {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background: linear-gradient(
        0deg,
        rgba(3, 3, 4, 1) 0%,
        rgba(10, 10, 13, 0.7287289915966386) 31%,
        rgba(10, 10, 13, 0) 52%
      );
}

.hero-text {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    padding-inline: 2rem;
    padding-bottom: 1.5rem;
    color: white; /* Ajoute une couleur au texte pour s'assurer qu'il est visible */
}

.hero-titles {
  color: white;
  line-height: 0.7;  
  align-self: flex-end;
}

.hero-titles h1 {
  font-size: 3.5rem;
}

.hero-titles h2 {
  font-size: 2.3rem;
}

.hero-duration {
  color: var(--primary-lighter);
  font-size: 1.3rem;
  align-self: flex-end;
}
