.all-recipe-grid{
    display: flex;
    gap: 1.5rem;
    width: fit-content;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: flex-start;
}

.not-found {
    margin-block: 3rem;
    font-size: 1.7rem;
}