.recipe-card {
  border-radius: 12px;
  height: 440px;
  width: 293px;
  margin-block: 1rem;
  position: relative;
}

.recipe-img {
  border-radius: 12px;
  height: 440px;
  width: 293px;
}

.recipe-filter {
  background: linear-gradient(
    0deg,
    rgba(3, 3, 4, 1) 0%,
    rgba(10, 10, 13, 0.72) 19%,
    rgba(10, 10, 13, 0) 51%
  );
  border-radius: 12px;
  height: 440px;
  width: 293px;
  position: absolute;
}

.recipe-card-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  color: white;
  padding: 1rem;
  z-index: 1;
  bottom: 15px;
}

.recipe-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

.recipe-duration {
  color: var(--primary-lighter);
}

.recipe-tags {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 0.3rem;
}

#add-button {
  width: fit-content;
  position: absolute;
  right: 20px;
  top: -15px;
  z-index: 2;
}
