#select-diet-label, #select-type-label {
    font-family: 'DM Sans';
    font-weight: 800;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    z-index: 1;
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
    color: var(--primary-darker) !important;
    font-size: 1.8rem !important;
    z-index: 1;
}

.css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
    color: var(--primary-darker) !important;
    font-size: 1.8rem !important;
    z-index: 1;
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    border-radius: 12px !important;
}

.css-14lo706 span {
    width:fit-content;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: var(--primary-darker) !important;
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: var(--primary-darker) !important;
    background-color: white;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    background-color: white;
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: var(--primary-darker) !important;
}