
/* CSS à mettre dans un fichier CSS une fois le component Tag fait */
.tag {
    color: var(--primary-lighter);
    border: 1px var(--primary-lighter) solid;
    border-radius: 50px;
    padding-inline: 0.5rem;
    padding-block: 0.3rem;
  }
  