/* Color variables */

:root {
    --dark-text: #333333;
    --white-bloc: #F3F3F3;    
    --grey-bloc: #C9C9C9;
    --primary: #F49B3F;
    --primary-darker: #D27722;
    --primary-lighter: #F6B76C;
    --secondary: #60A05F;
    --secondary-darker: #437E50;

    margin: 0;
}

/* General margin and padding */

body {
    margin: 0%;
    width: 100dvw;
}

main {
    margin: 0%;
    width: 100dvw;
}

section {
    max-width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 12rem;
    margin-bottom: 6rem;
    justify-content: center;
}

/* Fonts and texts  */

h1, h2, h3 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

h4, h5, h6 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    margin: 0;
}

.hand-writing {
    font-family: 'Caveat', cursive;
}

p {
    font-family: "DM Sans", sans-serif;
    color: var(--dark-text);
    font-weight: 500;
    width: fit-content;
}

/* Links */

a {
    text-decoration: none;
    color: var(--dark-text);
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
}

a:hover {
    color: var(--primary);
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
}

/* List  */

li {
    list-style-type: none;
}

footer {
    display: block;
    background-color: white;
    width: 100dvw;
    position: fixed;
    bottom: 0;
    padding-inline: 8rem;
    z-index: 100;
}